@if (User.IsInRole("SuperUser"))
{
    <li>@Html.ActionLink("Home", "Index", "Games")</li>
    <li>@Html.ActionLink("Log", "Index", "Loggings", new { filter = "Result" }, null)</li>
}
else if (User.IsInRole("Admin"))
{
    <li>@Html.ActionLink("Home", "Index", "Games")</li>
    //more items can go in here
}
else
{
    <li>@Html.ActionLink("Home", "Index", "Games")</li>
}
